body {
	font-family: Arial, sans-serif;
	background-color: salmon;
	margin:0
}


nav {
	background-color: #333; 
    }

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
}
nav li {
	float: left;
}


nav a{
	display: block;
	color: white;
        text-align: center;
        padding: 14px 16px;
	text-decoration: none;
}

nav a:hover {
	    background-color: #555; 
}

section.intro {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
}



h1 {
	color: #333;
}

h2 {
	color: #555;
}


ul {
   list-style-type: none;
   padding: 0;
}

li {
	margin-bottom: 10px;
}

form {
	display: inline:
}

#basket-list {
	max-width: 400px;
	margin: 20px auto;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
}

.item-name {
	margin-right: 10px;
}

.item-price {
	margin-right: 10px;
}

#total {
	font-weight: bold:
}

