body {
	font-family: Arial, sans-serif;
	background-color: #ffe6ff;
	margin: 0 auto;
	max-width: 1600px;
	padding: 20px;
}


nav {
	background-color: #006bb3;
	height:45px;	
    }

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
}
nav li {
	float: left;
	border-right:1px solid white;
}


nav li a{
	display: block;
	color: white;
        text-align: center;
        padding: 14px 59px;
	text-decoration: none;
}

nav li a:hover {
	    background-color: #e0e0eb; 
}

section.intro {
	max-width: 1600px;
	margin: 20px auto;
	padding: 20px;
	background-color: #e0e0eb;
	border-radius: 10px;
}

#title {
	font-size: 46px;
	color: black;
	font-family: times new roman;
	text-align: center;
}


h1 {
	color: black;
}

h2.product-catalogue-heading {
	color: black;
	margin-left: 20px;
}


ul {
   list-style-type: none;
   padding: 0;
}

li {
	margin-bottom: 10px;
}

form {
	display: inline:
}

#basket-list {
	max-width: 400px;
	margin: 20px auto;
	padding: 10px;
	background-color: #e0e0eb;
	border-radius: 10px;
	text-align: center;

}

.basket-heading {
	color: black;
}

#product-catalogue-description {
	margin-left: 20px;
}


.item-name {
	margin-right: 10px;
}

.item-price {
	margin-right: 10px;
}

#total {
	font-weight: bold:
}

.product-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
        margin-top: 20px;
}

.product-item {
	text-align: center;
	max-width: 200px;
        margin: 10px;
	padding: 10px;
;

}

.product-item .discounted-price {
	color: red;
	text-decoration: line-through;
	margin-right: 5px;
}

.product-item strong {
	    display: block;
	    margin: 10px 0;
    }

.product-item span {
	    display: block;
	        margin: 5px 0;
}

.product-item img {
	width: 200px;
	height: 150px;
	object-fit: contain;
	border-radius: 5px;
}

.product-item button, #basket-list li button { 
	background-color: green;
	color: white;
	padding: 8px 12px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 5px;
}

#basket-list li button {
	background-color: red;


}
