body {
	font-family: Arial, sans-serif;
	background-color: #ffe6ff;
	margin: 0 auto;
	max-width: 1500px;
	padding: 20px;
}


nav {
	background-color: #006bb3;
	height:45px;	
    }

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
}
nav li {
	float: left;
	border-right:1px solid white;
}


nav li a{
	display: block;
	color: white;
        text-align: center;
        padding: 14px 59px;
	text-decoration: none;
}

nav li a:hover {
	    background-color: #e0e0eb;
	   color: black; 
}

section.intro {
	max-width: 1500px;
	margin: 20px auto;
	padding: 20px;
	background-color: #e0e0eb;
	border-radius: 10px;
}

.logo {
	width: 160px;
	height: auto;
}

#asterik {
	font-size: 12px;
}

footer{
	padding: 10px;
	color: white;
	text-align: center;
	background: #006bb3;
	margin-top: 10px;
	border-radius: 5px;
	font-size:14px;
}

h1 {
	color: black;
}

h2.product-catalogue-heading {
	color: black;
	margin-left: 20px;
}


ul {
   list-style-type: none;
   padding: 0;
}

li {
	margin-bottom: 10px;
}

form {
	display: inline:
}

#basket-list {
	max-width: 800px;
	padding: 50px;
	background-color: #e0e0eb;
	border-radius: 10px;
	text-align: center;

}

#rico {
	 max-width: 1030px;
	 margin: 20px 30px;
	 padding: 50px;
	 background-color: #e0e0eb;
	 border-radius: 10px;
}

#basket-list, #rico {
	display: inline-block;
	vertical-align: top;
}


.basket-heading {
	color: black;
}

#product-catalogue-description {
	margin-left: 20px;
}


.item-name {
	margin-right: 10px;
}

.item-price {
	margin-right: 10px;
}

#total {
	font-weight: bold:
}

.product-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
        margin-top: 20px;
}

.product-item {
	text-align: center;
	max-width: 200px;
        margin: 10px;
	padding: 10px;
	box-sizing: border-box;

}

.product-item .discounted-price {
	color: red;
	text-decoration: line-through;
	margin-right: 5px;
}

.product-item strong {
	    display: block;
	    margin: 10px 0;
    }

.product-item span {
	    display: inline-block;
	        margin: 5px 0;
}

.product-item img {
	width: 100%;
	height: 150px;
	object-fit: contain;
	border-radius: 5px;
}

.product-item button, #basket-list li button { 
	background-color: green;
	color: white;
	padding: 8px 12px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 5px;
}

#basket-list li button {
	background-color: red;

}


