<!DOCTYPE html>
<html lang="en">
		<head>
			<meta charset="UFT-8">
			<meta name="viewport" content="width">
			<title>E-Commerce Web App / Cart</title>
			<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
	<div>
		<img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
	</div>
	<nav>
		<ul>
			<li><a href="{{ url_for('root') }}">Home</a></li>
			<li><a href="{{ url_for('fresh') }}">Fresh Food</a></li>
	                <li><a href="{{ url_for('delivery') }}">Delivery</a></li>
			<li><a href="{{ url_for('cart') }}">Basket</a></li>
		</ul>
	</nav>

<ul id="basket-list">
	<h2 class="basket-heading">Shopping Basket</h2>
	{% for item_dict in basket %}
<li>
	<span class="item-quantity">x{{ item_dict['quantity'] }}</span>
	<span class="item-name">{{ item_dict['item'] }}</span>
	<form action="{{ url_for('remove_from_basket', item=item_dict['item']) }}" method="POST">
		<button class="remove-button" type="submit">Remove</button>

	</form>
</li>

	{% endfor %}
	<li id ="total"><strong>Total:</strong> £{{ total_price }}</li>
</ul>



<ul id="rico">
	<h1>Join Our Exclusive Membership for a Culinary Journey to Your Doorstep!</h1>
	<p>Craving a hassle-free and delightful dining experience? Look no further! Become a proud member of our food delivery service and enjoy exclusive benefits</p>
	<p><strong>1. Express Delivery:</strong>Swift and priority delivery ensures your favorite food products reach you in no time.</p>
	<p><strong>2. Members-Only Discounts:</strong>Unlock exclusive discounts and special deals on a variety of mouth-watering culinary delights</p>
	<p><strong>3. Personalised Recommendations:</strong>ailor your preferences, and receive curated suggestions based on your favorite food products.</p>
	<p><strong>4. Early Access to New Arrivals:</strong>Be the first to savor our latest arrivals with exclusive early access.</p>
	<p><strong>5. Loyalty Rewards:</strong>Loyalty Rewards: Earn points with every order, leading to exciting rewards and free treats.</p>
	<br>
	<p>Ready to elevate your culinary experience? Click <a href="{{ url_for('forms') }}">here</a> to complete the form and join our membership now. Let the flavors come to you!</p>
</ul>




<footer>
	<h4>Copyright © 2023 E-FeastFiesta All Rights Reserved.</h4>
	<p> The information provided on this website does not, and is not intended to, constitute legal advice;
	instead general informational purposes only.
	Readers of this website should contact their attorney to obtain advice with respect to any
	particular legal matter.  No reader, user, or browser of this site should act or refrain from acting
	on the basis of information on this site without first seeking legal he relevant jurisdiction<p>
</footer>
</body>
</html>
