<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UFT-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>E-Commerce Web App / Delivery</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
	<h1 id="title">E-FeastFiesta </h1>
<nav>
	<ul>
		<li><a href="{{ url_for('root') }}">Home</a></li>
		<li><a href="{{ url_for('fresh') }}">Fresh Food</a></li>
		<li><a href="{{ url_for('delivery') }}">Delivery</a></li>
		<li><a href="{{ url_for('cart') }}">Basket</a></li>
	</ul>
</nav>

<section class="intro">
	<h1>Welcome to  DeliveryFiesta Service!</h1>
        <p>At DeliveryFiesta, we're more than just a delivery service – we're your ticket to a culinary celebration! Imagine your favorite flavors, delivered right to your door, hassle-free. Whether it's a busy weeknight, a weekend gathering, or a special occasion, let DeliveryFiesta add the perfect touch to your moments.</p>
	<p><strong>Fast and Reliable Delivery:</strong>We understand that when you're craving something delicious, you want it now. That's why we're committed to swift and dependable delivery, ensuring your order arrives fresh and on time.</p>
	<p><strong>Extensive Product Range:</strong>Extensive Product Range:Explore our virtual aisles filled with a diverse selection of high-quality food products. From fresh fruits and vegetables to pantry essentials, we've got everything you need for your culinary adventures</p>
	<p><strong>Effortless Ordering:</strong>Simplify your grocery shopping experience. Browse our comprehensive catalog, add items to your cart, and effortlessly check out. With DeliveryFiesta, getting your groceries is a breeze.</p>
	<p><strong>Customer-Centric Service:</strong>Your satisfaction is our priority. If you have any questions, special requests, or need assistance, our dedicated support team is here to ensure your shopping experience is seamless.</p>

</section>

<section class="intro">
	<h1>How it works:</h1>
	<p><strong>1. Explore Our Grocery Selection:</strong>Dive into our extensive range of fresh produce, dairy, meats, and more.</p>
	<p><strong>2. Build Your Cart:</strong>Add your preferred items to your cart. Don't forget to check out our latest deals and discounts for extra savings.</p>
	<p><strong>3. Secure Checkout:</strong>Enter your delivery details, choose a convenient delivery time, and securely complete your purchase.</p>
	<p><strong>4. Track Your Delivery:</strong>Sit back and relax as we bring your groceries to your doorstep. Track your delivery in real-time for added convenience.</p>

	<h1>Join the Convenience Revolution!</h1>
	<p>Say goodbye to long lines and heavy bags. Join DeliveryFiesta and experience the ease of grocery shopping from the comfort of your home. We're here to make every delivery a celebration of convenience and quality </p>

</section>

<footer>
<h4>Copyright © 2023 E-FeastFiesta All Rights Reserved.</h4>
<p> Thevided on this website does not, and is not intended to, constitute legal advice; 
instead, all i materials available on this site are for general informational purposes only.
Readers of this website should contact their attorney to obtain advice with respect to any 
particular legal matter.  No reader, user, or browser of this site should act or refrain from acting 
on the basis of information on this site without first seeking legal he relevant jurisdiction<p>
</footer>
</body>
</html>
