<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>E-Commerce Web App / Form</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
	<div>
		<img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
	</div>
	<nav>
		<ul>
			<li><a href="{{ url_for('root') }}">Home</a></li>
			<li><a href="{{ url_for('fresh') }}">Fresh Food</a></li>
			<li><a href="{{ url_for('delivery') }}">Delivery</a></li>
			<li><a href="{{ url_for('cart') }}">Cart</a></li>
		</ul>
	</nav>

	<section class="intro">
		<h2> Welcome to our Membership Form</h2>
		<p>We are delighted to have you on board, ready to experience a world of incredible benefits crafted just for you. Take a moment to
		complete the following form, and open the door to a multitude of perks that await you. Your journey with us is
		about to become even more exciting – let's get started!</p>
	 <div>
		 <form>
			 <label for="fullname">Full Name <span style="color:red; font-size: 18px;">*</span></label>
			 <input type="text" id="fullname" name="fullname" placeholder="Please enter your full name" required>
			 <label for="email">Email</label>
			 <input type="text" id="email" name="email" placeholder=" Please enter your email address">
			 <label for="address">Address <span style="color:red; font-size: 18px;">*</span></label>
	  		 <input type="text" id="address" name="address" placeholder="Please enter your address" required>
			 <label for="phonenumber">Phone number <span style="color:red; font-size: 18px;">*</span> <span style=" font-size: 13px;">(the phone number must contain 11 digits)</span> </label>
			 <input type="tel" id="phonenumber" name="phonenumber" pattern="[0-9]{11}" placeholder="Please enter your phone number" required>
			 <label for="membershipLevel">Membership Level <span style="color:red; font-size: 18px;">*</span></label>
			 <select id="membershipLevel" name="membershipLevel" required>
				<option value="Bronze">Bronze</option>
				<option value="Silver">Silver</option>
				<option value="Gold">Gold</option>
			 </select>


			<label for="userFeedback">Your feedback</label>
			<textarea id="userFeedback" name="userFeedback" placeholder="Have a question or comment? We're here to help! Feel free to share your thoughts, inquiries, or anything else you'd like us to know. Your feedback is important to us. Our team will answer soon as possible. " style="height:210px"></textarea>
			<input type="submit" value="Submit" >
			<br><BR><BR>
		 </form>
	 </div>

	</section>

	<footer>
		<h4>Copyright © 2023 E-FeastFiesta All Rights Reserved.</h4>
		<p> The information provided on this website does not, and is not intended to, constitute legal advice; 
		instead, all information, content, and materials available on this site are for general informational eaders of this website should contact their attorney to obtain advice with respect to any 
		particular legal matter.  No reader, user, or browser of this site should act or refrain from acting on the basis of information on this
		site without first seeking legal advice from counsel in the relevant jurisdiction</p>
	</footer>
</body>
</html>
