<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>E-Commerce Web App / Fresh Food</title>
		<script src="{{ url_for('static', filename='js/script.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	</head>
	<body>
		<div>
			<img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
		</div>

<nav>
	<ul>
		<li><a href="{{ url_for('root') }}">Home</a></li>
		<li><a href="{{ url_for('fresh') }}">Fresh Food</a></li>
		<li><a href="{{ url_for('delivery') }}">Delivery</a></li>
		<li><a href="{{ url_for('cart') }}">Basket</a></li>
	</ul>
</nav>

<section class="intro">
	<h2 class="product-catalogue-heading"> Product catalogue</h2>
	<p id="product-catalogue-description">
	In our catalog, you can easily discover a vibrant array of fresh produce meticulously curated to meet your culinary needs. From crisp, locally sourced fruits and vegetables to organic greens and seasonal delights, our collection is a testament to quality and freshness. Explore our catalog to embark on a journey of culinary inspiration, where each item is carefully selected to ensure you have access to the finest and freshest ingredients for your kitchen</p>
	<div class="product-container">

		<div class="product-item">
			<img src="{{ url_for('static', filename='img/apple.png') }}" alt="Apple">
			<strong>Apple</strong>
			<span>£0.50</span>
			<form action="{{ url_for('add_to_basket', item='Apple', price=0.50) }}" method="POST"> 
				<button type="submit">Add to basket</button>
			</form>
		</div>

		<div class="product-item">
			<img src="{{ url_for('static', filename='img/banana.png') }}" alt="Mango">
			<strong>Bananas</strong>
			<span>£2.00</span>
			<form action="{{ url_for('add_to_basket', item='Bananas', price=2.0) }}" method="POST">
				<button type="submit">Add to basket</button>
			</form>
		</div>

		<div class="product-item">
			<img src="{{ url_for('static', filename='img/mango.png') }}" alt="Mango">
			<strong>Mango</strong>
			<span>£0.75</span>
			<form action="{{ url_for('add_to_basket', item='Mango', price=0.75) }}" method="POST">
				<button type="submit">Add to basket</button>
			</form>
		</div>
		
		<div class="product-item">
			<img src="{{ url_for('static', filename='img/bread.png') }}" onmouseover="displayBreadtwo(this)" onmouseout="displayBread(this)">
			<strong>Bread</strong>
			<span class="discounted-price">£2.00</span>
				<span>£1.00</span>
				<form action="{{ url_for('add_to_basket', item='Bread', price=1.0) }}" method="POST">
					<button type="submit">Add to basket</button>  
				</form>
		</div>	
		</section>

	<section class="intro">
	<div class="product-container">

		<div class="product-item">
			<img src="{{ url_for('static', filename='img/carrot.png') }}" alt="Carrot">
			<strong>Carrots</strong>
			<span>£0.50</span>
			<form action="{{ url_for('add_to_basket', item='Carrots', price=0.50) }}" method="POST">
				<button type="submit">Add to basket</button>
			</form>
		</div>

		<div class="product-item">
			<img src="{{ url_for('static', filename='img/cherry.png') }}"  onmouseover="displayCherrytwo(this)" onmouseout="displayCherry(this)">
			<strong>Cherries</strong>
			<span>£0.75</span>
			<form action="{{ url_for('add_to_basket', item='Cherries', price=0.75) }}" method="POST">
				<button type="submit">Add to basket</button>
			</form>
		</div>

		<div class="product-item">
			<img src="{{ url_for('static', filename='img/tomato.png') }}" alt="Tomato">
			<strong>Tomato</strong>
			<span class="discounted-price">£0.80</span>
			<span>£0.50</span>
			<form action="{{ url_for('add_to_basket', item='Tomato', price=0.50) }}" method="POST">
				<button type="submit">Add to basket</button>
			</form>
		</div>

		<div class="product-item">
			<img src="{{ url_for('static', filename='img/orange.png') }}" alt="Orange">
			<strong>Oranges</strong>
			<span>£1.00</span>
			<form action="{{ url_for('add_to_basket', item='Oranges', price=1.0) }}" method="POST">
				<button type="submit">Add to basket</button>
			</form>
		</div>			
			
	</div>	
</section>

	<section class="intro">
	<div class="product-container">

		<div class="product-item">
			<img src="{{ url_for('static', filename='img/potato.png') }}" alt="Potatoes">
			<strong>Potatoes</strong>
			<span class="discounted-price">£3.00</span>
			<span>£2.50</span>
			<form action="{{ url_for('add_to_basket', item='Potatoes', price=2.50) }}" method="POST">
				<button type="submit">Add to basket</button>
			</form>
			</div>

		<div class="product-item">
			<img src="{{ url_for('static', filename='img/lettuce.png') }}" alt="Lettuce">
			<strong>Lettuce</strong>
			<span>£1.00</span>
			<form action="{{ url_for('add_to_basket', item='Lettuce', price=1.0) }}" method="POST">
				<button type="submit">Add to basket</button>
			</form>
		</div>

		<div class="product-item">
			<img src="{{ url_for('static', filename='img/onion.png') }}" onmouseover="displayOniontwo(this)" onmouseout="displayOnion(this)">
			<strong>Onion</strong>
			<span>£0.75</span>
			<form action="{{ url_for('add_to_basket', item='Onion', price=0.75) }}" method="POST">
				<button type="submit">Add to basket</button>
			</form>
		</div>

		<div class="product-item">
			<img src="{{ url_for('static', filename='img/melon.png') }}" alt="Watermelon">
			<strong>Watermelon</strong>
			<span>£2.50</span>
			<form action="{{ url_for('add_to_basket', item='Watermelon', price=2.50) }}" method="POST">
				<button type="submit">Add to basket</button>
			</form>
		</div>

		</div>
	</section>


<footer>
	<h4>Copyright © 2023 E-FeastFiesta All Rights Reserved.</h4>
	<p>  The information provided on this website does not, and is not intended to, constitute legal advice; 
			instead, all information, content, and materials available on this site are for general informational eaders of this website should contact their attorney to obtain advice with respect to any 
			particular legal matter.  No reader, user, or browser of this site should act or refrain from acting 
			on the basis of information on this site without first seeking legal advice from counsel in the relevant jurisdiction</p>
</footer>
	</body>
</html>
