<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UFT-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>E-Commerce Web App</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
	<h1 id="title">E-FeastFiesta </h1>
<nav>
	<ul>
	    <li><a href="{{ url_for('fruits') }}">Fruits</a></li>
            <li><a href="{{ url_for('drinks') }}">Drinks</a></li>
	</ul>
</nav>

<section class="intro">
	<h1>Welcome to our E-FeastFiesta</h1>
        <p>An e-commerce web app dedicated to the sale of food products online. Non-food items, such as clothes, 
	furniture, or medications, will not be offered through this web app. We focus on delivering your groceries
	to your doorstep with a concise catalog of high-quality options.</p>
	<p><strong>1. Dedicated to Your Groceries:</strong> Unlike other e-commerce platafroms, we exclusively focus on providing you with the freshest and highest-quality food producst</p>

	<p><strong>2. Concise Catalog:</strong> We understand your time is valuable. That's why we've meticulously curated a succinct catalog, ensuring that every item is chosen with care to meet your needs</p>

        <p><strong>3. Quality Assurance:</strong> At this E-FeastFiesta , quality stands as our foremost commitment. We guarantee that every product you receive reflects our unwavering dedication to excellence.</p>

	<p><strong>4. User-Friendly Interface:</strong> Navigate effortlessly through your online shopping journey with our intuitively designed web app. We've prioritized a seamless and user-friendly interface to make your experience as smooth as possible.</p>

	<p><strong>5. Enjoy the convenience:</strong> Experience the ease of having your groceries delivered directly to your doorstep. Embrace convenience without compromising on the freshness and quality of your chosen items.</p>

        <p><strong>6. Secure and Convenient Payment Options:</strong> Your security and convenience are paramount to us. That's why we offer a range of secure and hassle-free payment options, ensuring a worry-free transaction every time.</p>

	<p><strong>7. Personalized Recommendations:</strong> Tailoring your experience, our platform learns from your preferences. Enjoy personalized recommendations that align with your taste, making your shopping experience more delightful and efficient.</p>

</section>



<h2 class="product-catalogue-heading"> Product catalogue</h2>
<p id="product-catalogue-description"> Take a look at our best-sellers below—these are the food products everyone's loving right now. From snacks to kitchen essentials, these items have proven to be real crowd-pleasers. Explore the top picks and discover why these products are flying off the shelves</p>
<div class="product-container">
	
	<div class="product-item">
		<img src="{{ url_for('static', filename='img/sugar.png') }}" alt="Sugar">
	<strong>Sugar</strong>
	<span>1.00£</span>
	<form action="{{ url_for('add_to_basket', item='Sugar', price=1.0) }}" method="POST">
		<button type="submit">Add to basket</button>
	</form>
     </div>


	<div class="product-item">
		<img src="{{ url_for('static', filename='img/apple.png') }}" alt="Apple">
	    <strong>Apple</strong>
	    <span>1.00£</span>
	    <form action="{{ url_for('add_to_basket', item='Apple', price=1.0) }}" method="POST">
	            <button type="submit">Add to basket</button>
		</form>
	</div>


     <div class="product-item">
	     <img src="{{ url_for('static', filename='img/bread.png') }}" alt="Bread">
	<strong>Bread</strong>
	<span>2.00£</span>
        <form action="{{ url_for('add_to_basket', item='Bread', price=2.0) }}" method="POST">
		<button type="submit">Add to basket</button>  
	</form>
	</div>
</div>
	
	<ul id="basket-list">
		<h2 class="basket-heading">Shopping Basket</h2>
		{% for item_dict in basket %}
	<li>
		<span class="item-quantity">x{{ item_dict['quantity'] }}</span>
		<span class="item-name">{{ item_dict['item'] }}</span>
		<span class="item-price">{{ item_dict['total_price'] }}£</span>
		<form action="{{ url_for('remove_from_basket', item=item_dict['item']) }}" method="POST">
			<button class="remove-button" type="submit">Remove</button>

		</form>
	</li>

		{% endfor %}
		<li id ="total"> Total: {{ total_price }}£</li>
		
	</ul>
</body>
</html>




